.embla {
  max-width: 358rem;
  margin: auto;
  --slide-height: 30rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.embla__buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.embla__dots {
  display: flex;
  gap: 0.3rem;
  color: black;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.8rem;
  height: 2.8rem;
  z-index: 1;
  border-radius: 50%;
  color: #2874d4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf4fd;
}
.embla__button:disabled {
  color: gray;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  background-color: #ecf4fd;
  padding: 0;
  margin: 0;
  width: 0.8rem;
  height: 0.8rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.embla__dot--selected {
  background-color: #2874d4;
}

.embla__parallax {
  border-radius: 1.8rem;
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.embla__parallax__img {
  flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
  object-fit: cover;
}
