@layer theme, base, mantine, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import 'tailwind-preset-mantine';
@import './theme.css';

/* @import '@mantine/core/styles.layer.css'; */
@import '@mantine/dates/styles.layer.css';
@import '@mantine/notifications/styles.layer.css';

@import '@mantine/carousel/styles.layer.css';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* body {
  @apply text-gray-700;
} */
:root {
  --mantine-color-text: var(--mantine-color-dark-4);
}
html,
body {
  @apply h-full;
}

.layout-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.iti__selected-dial-code {
  @apply text-sm;
}

@theme {
  --spacing: 0.25rem;
}

@utility container {
  @apply mx-auto;
}

/* .d-block {
  @apply block;
}
.d-none {
  @apply hidden;
}
.d-md-block {
  @apply md:block;
}
.d-md-none {
  @apply md:hidden;
} */
