.root {
  /* @apply bg-blue-100; */
  background-color: var(--mantine-color-blue-1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px;
}

.label {
  font-size: var(--mantine-font-size-md);
  padding: 12px 44px 12px 22px;

  &[data-active='true'] {
    color: white;
  }
}

.indicator {
  background-color: var(--mantine-color-blue-9);
}
