.root {
  @apply overflow-hidden rounded-full;

  border: 6px solid transparent;

  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        var(--mantine-color-orange-2),
        var(--mantine-color-gray-0),
        var(--mantine-color-blue-2)
      )
      border-box;
}
.root:hover {
  transform: scale(1.1);
  transition:
    transform 0.3s ease,
    border 0.3s ease;
  border: 3px solid;
  border-color: var(--mantine-color-primary, #007bff);
}
