.root {
  @apply overflow-hidden rounded-full;
  border: 7px solid transparent;

  @media (max-width: 768px) {
    border: 4px solid transparent;
  }
  
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom,
        var(--mantine-color-orange-2),
        var(--mantine-color-gray-0),
        var(--mantine-color-blue-2)
      )
      border-box;
  transition:
    transform 0.3s ease,
    border 0.3s ease;
}
.root {
  transition: transform 0.4s ease-in-out;
}
.root:hover {
  transform: scale(1.2);
}
