.root {
  padding-bottom: 8px;
}

.indicator {
  width: 12px;
  height: 4px;
  transition: width 250ms ease;
  background-color: var(--mantine-color-blue-8);

  &[data-active] {
    width: 40px;
  }
}
