.tab {
  z-index: 1;
  font-weight: 600;
  transition: color 100ms ease;
  justify-content: center;

  &[data-active] {
    color: var(--mantine-color-blue-filled);
  }
}
.tabEffect:hover {
  border: 1px solid #3b82f6;
  background-color: white;
  border-radius: 2rem;
}
